@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

#body-listagem{
    height: 100vh;
    background-color: #f7f7f7;
}

#body-busca{
    background-color: #ffff;
    padding: 15px;
    margin-bottom: 30px;
}

#cadastro{
    margin-left: 400px;
}

#titulo{
    font-family: 'Roboto', sans-serif;
    color: #727070;
    font-size: 1.5em;
}

.MuiIconButton-root.icon{
    color: #0E4088;
}

.MuiPagination-root.paginacao 
.MuiPaginationItem-root {
    color: #0E4088;
}



