body {
  overflow: auto;
}

.dashboard-container {
  font-family: Arial, sans-serif;
  background-color: #f0f4f8;
}

h1{
  margin-top: 3px; 
}

.dashboard-header {
  background-color: #5b8acc;
  color: #fff;
  padding: 70px;
  position: relative; /* Define o header como referência para os cards */
  z-index: 0; /* Permite que os cards fiquem acima */
  
}

.info-cards {
  display: flex;
  gap: 50px;
  justify-content: space-evenly;
  position: absolute; /* Posiciona os cards em relação ao header */
  top: 140px; /* Ajusta a distância do topo do header */
  left: 100px;
  right: 100px;
  margin: 0 auto; /* Centraliza os cards horizontalmente */
  z-index: 1; /* Garante que os cards fiquem acima do header */
}

.info-card {
  flex: 1;
  padding: 20px;
  border-radius: 25px;
  color: white;
  text-align: left;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adiciona sombra para destaque */
}

.info-card.blue {
  background-color: #5ea5f7;
}

.info-card.purple {
  background-color: #9c6ade;
}

.info-card.dark-blue {
  background-color: #3b4a69;
}

.dashboard-charts {
  display: flex;
  gap: 20px;
  margin-top: 100px; /* Ajusta para que os gráficos fiquem abaixo dos cards */
  justify-content: space-around;
}

.chart1 {
  flex: 1;
  margin-top: 50px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 20px;
  padding-right: 10px;
  background-color: white;
  border-radius: 20px;
  text-align: left;
}

.chart2 {
  flex: 1;
  margin-top: 50px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 20px;
  background-color: white;
  border-radius: 20px;
  text-align: left;
}

h3{
  margin-left: 20px;
  margin-bottom: 30px;
  color: #1f3c65;
}

