@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.tela-cheia-os {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  width: 80%;
  min-height: calc(100vh - 100px);
  padding-top: 55px;
  margin-left: 200px;
}

.CadastroDeOS-os {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  margin-left: 0;
  padding-left: 0;
  color: #073575;
}

/* .titulo {
  margin-left: 50px;
  margin-top: 20px;
  font-size: 1.4rem;
  color: #0e4088;
} */

.cabecalhoTitulo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin-left: 50px;
  background-color: #0e4088;
  font-weight: bold;
  color: white;
  font-size: 1.4rem;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.cabecalhoOrdem-os {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 20px;
  padding: 20px;
  margin-left: 50px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.campoCpf-os {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

label[for="cpfCliente"],
label[for="cpfTecnico"],
label[for="pagamento"],
label[for="status"] {
  font-weight: bold;
  margin-right: 20px;
  width: 80px;
}

.campoCpf-os input,
.campoCpf-os select {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  max-width: 300px;
  flex: 1;
  font-size: 1rem;
}

.campoCpf-os select {
  /* Aumentando a altura do campo de seleção */
  padding: 12px;
  font-size: 1rem;
}

/* Ajuste para o campo de serial do equipamento e descrição */
.inputField-os input,
.inputField-os textarea {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1rem;
  width: 100%;
}

.dadosCliente-os {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
  margin-left: 50px;
  margin-top: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.inputField-os {
  display: flex;
  flex-direction: column;
}

.servicosProdutos-os {
  padding: 20px;
  margin-left: 50px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.servicosProdutos-os button {
  background-color: #0e4088;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.servicosProdutos-os button:hover {
  background-color: #063e80;
}

button[type="submit"] {
  background-color: #0e4088;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 20px;
}

button[type="submit"]:hover {
  background-color: #063e80;
}
