.tela-cheia {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    width: 80%;
    min-height: calc(100vh - 100px); 
    padding-top: 45px; 
    margin-left: 200px; 
  }
  .error-message {
    color: red;
    font-size: 0.9em;
  }
  
  .CadastroDeClientes {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-left: 0;
    padding-left: 0;
    color: black;
  }
  
  .atualizacao {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-top: 5px;
    justify-content: right;
    align-items: end;
    padding-right: 10px;
    background-color: white;
    font-size: 15px;
  }
  
  .titulocliente {
    background-color: #0e4088;
    border-radius: 5px;
    color: #f2f5fa;
    font-size: 27px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: 700;
    padding: 10px 20px;
    margin-left: 0;
    transform: translateX(-260%);
  }
  
  .titulo-dados,
  .tituloCadastroEquipamento {
    text-align: center;
    background-color: #0e4088;
    color: #f2f5fa;
    font-size: 22px;
    padding: 1px;
    font-weight: 700;
    margin-top: 20px;
  }
  
  input,
  select {
    background-color: #e0e0e0;
    border: none;
    outline: none;
    width: 300px;
    height: 25px;
    padding: 10px;
    border-radius: 8px;
  }
  
  .containerDadosCadastrais,
  .containerDadosEndereco {
      margin-bottom: 20px;
      padding: 19px;
      background-color: white;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 10px;
      align-items: center;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
      border-radius: 8px; 
      margin-left: 150px; 
  }
  
  .containerCadastroEquipamento {
    gap: 10px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    border-radius: 8px; 
    padding: 20px;
    margin-left: 150px; 

  }
  
  .containerCadastroEquipamento input {
    margin-left: 20px;
    margin-top: 10px;
  }
  
  .botaoAdicionar {
    background-color: #0e4088;
    font-size: 20px;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute; 
    right: 20px; 
    bottom: 20px; 
    color: #f2f5fa; 
}

.header2 {
  background-color: #0e4088; 
  height: 60px; 
  display: flex;
  align-items: center; 
  padding: 0 20px;
  color: white; 
  position: fixed; 
  top: 0; 
  left: 0; 
  width: 100%; 
  z-index: 1000; 
}

.menu2 {
  background-color: #0e4088; 
  width: 200px; 
  height: calc(100vh - 60px); 
  position: fixed; 
  top: 60px; 
  left: 0; 
  color: white; 
}

.submit-button2 {
  background-color: #0e4088;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-left: 1430px;
  transition: background-color 0.3s;
}

.submit-button2:hover {
  background-color: #0056b3; 
}

.modal {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: white;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 300px;
  border-radius: 10px;
  text-align: center;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-content button {
  background-color: #0056b3; 
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.modal-content button:hover {
  background-color: #0056b3; 
}

input#nascimento.inputnascimento{
  width: 400px;  
}

input#senha.inputsenha{
  width: 400px;  
}

input#email.inputemail{
  width: 400px;  
}

.tela-cheia-osss {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  width: 80%;
  min-height: calc(100vh - 100px);
  margin-left: 80px;
  height: 10px;
  
  /* margin-top: 4px; */
}

.CadastroDeOS-osss {
  flex: 1;
  display: flex;
  flex-direction: column;
  /* margin-top: 20px; */
  margin-left: 0;
  padding-left: 0;
  color: #073575;
  font-weight: bold;
}

.cabecalhoOrdem-osss {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0px;  
  padding: 15px;
  margin-left: 50px;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 15px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.219);
  /* margin-top: 4px; */
  /* height: 50%; */
}


.cabecalhoTituloo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px; 
  margin-left: 50px;
  background-color: #0e4088;
  font-weight: bold;
  color: white;
  font-size: 1.4rem;
  border-radius: 10px;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.048);
}